:root {
  --primary: #a78bfa;
  --primary-active: #7c3aed;
  --primary-text: #27272a;
  --primary-text-active: #b2b2c0;
  --shadow-color: #a8a8b4;
}

.skill-tag {
  border: 1px var(--primary) solid;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--primary);
  line-height: 1cm;
  color: var(--primary-text);
  filter: drop-shadow(1px 1px 1px var(--shadow-color));
}

.resume-link a:link,
.resume-link a:visited {
  border: 1px var(--primary) solid;
  border-radius: 10px;
  padding: 9px;
  background-color: var(--primary);
  color: var(--primary-text);
  filter: drop-shadow(2px 2px 2px var(--shadow-color));
  margin-right: 8px;
}

.resume-link a:hover,
.resume-link a:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
  color: var(--primary-text-active);
}
